<!--
  ~ **************************************************************************
  ~
  ~ Copyright: José Bernardes, 2020 - 2021
  ~
  ~ **************************************************************************
  -->

<h1>About</h1>
<p>Hi, I'm Paulo, a Software Engineer based in Aveiro.</p>
<p>I work as a Software Engineer since 2018, mainly in Frontend development, but I've also done some work in Backend and
    Mobile development.</p>
<p>Although I just started to work in this area a little while ago, my passion for creating good pieces of software
    started long before that, in fact, my love for crafting normal world stuff goes back to my childhood, when I would
    spend afternoons with my grandfather building anything.</p>
<p>Nowadays, I like to spend my time looking for the best way to achieve my goals, always with my values in mind.</p>
<p>I like to see myself as a pragmatic person, but always with a perfectionist mindset on my side, combining that with
    my dedication, which I try to make the distinguishing factor that defines me, wherever I am.</p>
