/*
 * *************************************************************************
 *
 * Copyright: José Bernardes, 2020 - 2021
 *
 * *************************************************************************
 */

@use "src/assets/styles/dimensions";

:host {
    @include dimensions.small-container();
    text-align: justify;
    flex: 1;
    align-self: center;
}

p {
    line-height: 2;
}
