/*
 * *************************************************************************
 *
 * Copyright: José Bernardes, 2020 - 2021
 *
 * *************************************************************************
 */

:host {
    padding: 0 3rem;
    text-align: justify;
}

p {
    line-height: 2;
}
