<!--
  ~ **************************************************************************
  ~
  ~ Copyright: José Bernardes, 2020 - 2021
  ~
  ~ **************************************************************************
  -->

<h1>About</h1>
<p>Hi, I'm Paulo, a Software Engineer based in Aveiro.</p>
<p>The beginning of my career was in 2018, after finishing my college degree, and since then, I've been working mainly
    in frontend development, but I've also done some work in backend and mobile development as well.
</p>
<p>Although I started to work in this area only a short time ago, my passion for programming began long before that.
    When I was in high school, I liked to create little programs in BASIC to boast to my colleagues.

    In fact, my love for crafting ordinary things goes back to my childhood, when I would spend hours with my
    grandfather building or fixing anything.
</p>
<p>Nowadays I like to spend my time looking for the best solution to solve my problems, whether they are related to work
    or with something in general.
</p>
<p>On a personal level, I like to see myself as a person who can strike a good balance between perfectionism and
    pragmatism, always trying not to let one overlap the other.
    On top of that, I consider myself a dedicated person with a strong sense of responsibility, these being the
    distinguishing factors that define me, wherever I am.
</p>
