/*
 * *************************************************************************
 *
 * Copyright: José Bernardes, 2020 - 2021
 *
 * *************************************************************************
 */

@use "src/assets/styles/dimensions";

$column-dimension: dimensions.$small-container / 2;

:host {
    @include dimensions.small-container();
    flex: 1;
    display: grid;
    grid-template: "first" "last" / minmax(auto, $column-dimension);
    column-gap: 1rem;

    @media (min-width: 768px) {
        grid-template: "first last" / minmax(auto, $column-dimension) minmax(auto, $column-dimension);
    }
}

div:first-child {
    grid-area: first;
}

div:last-child {
    grid-area: last;
}

app-skill {
    display: block;
}

app-skill + app-skill {
    margin-top: 0.75rem;
}

//}
