<!--
  ~ **************************************************************************
  ~
  ~ Copyright: José Bernardes, 2020 - 2021
  ~
  ~ **************************************************************************
  -->

<a class="personal-info" routerLink="/home">
    <img
        src="/assets/images/picture.jpeg"
        alt=""
        class="avatar">
    <h1>José Paulo Bernardes</h1>
    <h2>Front-end Engineer</h2>
</a>

<ul class="menu">
    <li><a routerLink="/home/about">About</a></li>
    <li><a class="disabled">Blog</a></li>
    <li><a class="disabled">Skills</a></li>
    <li><a class="disabled">Projects</a></li>
    <li><a class="disabled">Curriculum Vitae</a></li>
</ul>
