/*!
 * *************************************************************************
 *
 * Copyright: José Bernardes, 2020 - 2021
 *
 * *************************************************************************
 */

:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 3rem;
    min-height: 3rem;
    line-height: 1;
    margin: 0;
}
