/*
 * *************************************************************************
 *
 * Copyright: José Bernardes, 2020 - 2021
 *
 * *************************************************************************
 */

:host {
    display: flex;
    justify-content: center;
    padding: 1rem;
    background: white;
}

a + a {
    margin-left: 0.25rem;
}

h6 {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0 0 0.5rem;
}
