<!--
  ~ **************************************************************************
  ~
  ~ Copyright: José Bernardes, 2020 - 2021
  ~
  ~ **************************************************************************
  -->

<h6>CONTACT ME</h6>
<a href="mailto:info@josebernardes.dev" target="_blank">
    <app-icon [name]="'email'" [size]="24" [color]="'white'"></app-icon>
</a>
<a href="https://github.com/joseabernardes" target="_blank">
    <app-icon [name]="'github'" [size]="24" [color]="'white'"></app-icon>
</a>
<a href="https://www.linkedin.com/in/joseabernardes" target="_blank">
    <app-icon [name]="'linkedin'" [size]="24" [color]="'white'"></app-icon>
</a>
