/*
 * *************************************************************************
 *
 * Copyright: José Bernardes, 2020 - 2021
 *
 * *************************************************************************
 */

a + a {
    margin-left: 0.25rem;
}

h6 {
    font-size: 0.75rem;
    font-weight: 300;
    margin: 0 0 0.5rem;
}
