<!--
  ~ **************************************************************************
  ~
  ~ Copyright: José Bernardes, 2020 - 2021
  ~
  ~ **************************************************************************
  -->

<a href="mailto:info@josebernardes.dev" target="_blank">
    <app-icon [name]="'email'" [width]="24" [height]="24" [color]="'#4e4e4e'"></app-icon>
</a>
<a href="https://github.com/joseabernardes" target="_blank">
    <app-icon [name]="'github'" [width]="24" [height]="24" [color]="'#4e4e4e'"></app-icon>
</a>
<a href="https://www.linkedin.com/in/joseabernardes" target="_blank">
    <app-icon [name]="'linkedin'" [width]="24" [height]="24" [color]="'#4e4e4e'"></app-icon>
</a>
