<!--
  ~ **************************************************************************
  ~
  ~ Copyright: José Bernardes, 2020 - 2021
  ~
  ~ **************************************************************************
  -->

<img [alt]="project.name"
     [src]="project.mainImage">

<div class="description">
    <h2>{{project.name}}</h2>

    <h3>Summary</h3>
    <p>{{project.description}}</p>

    <h3>Technology</h3>
    <p>
        <app-technology-badge *ngFor="let tech of project.technologies"
                              [type]="tech">
        </app-technology-badge>
    </p>
</div>
