/*
 * *************************************************************************
 *
 * Copyright: José Bernardes, 2020 - 2021
 *
 * *************************************************************************
 */

@use "../../assets/styles/colors";

:host {
    display: flex;
    flex-direction: column;
    background: colors.$light-grey;
    min-height: 100vh;
}

router-outlet + ::ng-deep * {
    align-self: center;
    flex: 1;
    max-width: 900px;
    width: 100%;
}
